section#aboutBac {
    background-image: url("circle.png"), url("toplef.png");
    background-repeat: no-repeat;
    background-position: center, 0 0;
}
/* this effect the paragraph text on about page*/
section#aboutBac div {
    /* flex: 0 1 auto;
    padding: 50px;
    border-radius: 3px;
    margin: 200px;
    margin-bottom: 300px;
    margin-top: 100px;
    background-color: rgba(80, 80, 80, 0.9); */
    flex: 1 1 80px;
    text-align: center;
    margin: 100px;
    padding: 50px;
    font-size: 22px;
    border-radius: 70px;
    background-color: rgba(80, 80, 80, 0.7);
}
/* about page flex box container*/ 
section#aboutBac article {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}
section#aboutBac div h2 {
    font-family: monospace;
    color: white;
}
section#aboutBac div p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: whitesmoke;
}