/* footer effect*/
footer.foot {
    background-color: #808080;
    filter: contrast(150%);
    height: 100px;
    border-radius: 3px;
    border: none;
    margin-bottom: 0;
    display: block;
    width: 100%;
}
footer.foot address.contact {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
    height: 80px;
    justify-content: center;
}
footer.foot address.contact div {
    margin: 30px 30px 0 30px;
}
footer.foot address.contact div h4 {
    color: #696969;
    font-size: 18px;
    filter: contrast(400%);
}
@media (max-width: 600px) {
    footer.foot address.contact details {
        display: none;
    }
}
@media (max-width: 280px) {
    footer.foot address.contact div img {
        width: 30px;
        height: 30px;
    }
}
@media (820px <= width <= 912px) {
    footer.foot, footer.foot address.contact {
        margin-bottom: 0;
        margin-top: 350px;
    }
}
@media (min-width: 76.3mm) {
    footer.foot, footer.foot address.contact {
        margin-top: 175px;
        margin-bottom: 0;
    }
}
